# {{ ansible_managed }}
{#                                                                  #}
{#- Generate ONE entry for the pseudoroot and export it to all      #}
{#- defined IPs/ranges/hostnames, no duplicates.                    #}
{#- extrastylebonus: remove leading whitespace from first entry and #}
{#-                  remove trailing line continuation char.        #}
{#-                                                                 #}
{% set unique_entries = [] %}
{% if nfs_v4_enable and nfs_server_exports %}
{{ nfs_v4_mount_root }}  {% for item1 in nfs_server_exports %}
{%   for item2 in item1['access'] %}
{%      if item2['hostname'] not in unique_entries %}
{% if not loop.first %}    {% endif %}{{ item2['hostname'] }}(fsid=0,{{ item2['options']|join(",") }}) {% if not loop.last %}\{% endif %}
{{       unique_entries.append(item2['hostname']) }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
{#-                                                                 #}
{#- Generate ONE entry for each export with multiple lines for each #}
{#- IP/range/hostname export entry if necessary.                    #}
{#- extrastylebonus: remove leading whitespace from first entry and #}
{#-                  remove trailing line continuation char.        #}
{#-                                                                 #}
{% if nfs_server_exports %}
{% for item1 in nfs_server_exports %}
{{ item1['path'] }}  {%   for item2 in item1['access'] %}
{% if not loop.first %}    {% endif %}{{ item2['hostname'] }}({{ item2['options']|join(",") }}) {% if not loop.last %}\{% endif %}

{%     endfor %}
{%   endfor %}
{% endif %}
